/* p { 
  font-family: verdana;
  text-align: justify;
  color: rgb(162, 81, 81);
  font-size: 24px;
}

.styleP {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.div1{
  background-color: white;
}

body {
  background-color: rgb(8, 9, 9);
}

h1 { 
  color: rgb(64, 53, 164);
  font-weight: bold;
  text-align: center;
} */

*{
  margin: 0;
  padding: 0;
}

.titulo{
  background-color: #92a8d1;
  margin: 20px;
}

.parrafo{
  background-color: green;
  padding-top: 50px;
  padding-left: 10px;
  padding-bottom: 60px;
  padding-right: 300px;
}

footer{
  background-color: goldenrod;
  padding: 10px 20px 30px 40px;
  margin: 10px 200px;
}

.menu{
  background-color: black;
}

.menu ul {
  align-items: center;
  display: flex;             
  justify-content: center;        
  padding: 20px;                
  margin: 20px;                 
  gap: 40px;                 
}

.menu ul li a {
  text-decoration: none;    
  color: white;             
  font-weight: bold;        
}

.logoInsta{
  width: 40px;
}

.item1 {
  display: flex;
  align-items: center; 
  gap: 8px; 
}

.reloj{
  width: 200px;
}

.contenido1{
  display: flex;
  align-items: center; 
  gap: 20px; 
}













