<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../assets/css/miestilo.css">
    <title>Ejemplo 1</title>
    <nav class="menu">
        <ul>
        <li><a href="https://virtual-moodle.unne.edu.ar/">Inicio</a></li>
        <li class="item1">
            <a href="https://www.instagram.com/facenaunne/">Sobre nosotros</a>
            <img class="logoInsta" src="../assets/img/logoinstaprueba.png" alt="Logo de instagram"></li>
        <li><a href="https://exa.unne.edu.ar/r/?page_id=21563">Contacto</a></li>
        </ul>
    </nav>
</head>
<body>
    <div class="div1">
        <h1 class="titulo">Bienvenidos a Taller de Programación I</h1>
        <div class="contenido1">
            <p class="parrafo">Somos una empresa que se dedica a la <span class="trespalabras">venta de relojes</span> de mesa y pared con diseños únicos e innovadores. Utilizamos materia prima de calidad. Elaboramos productos a la medida del cliente. </p>
            <img class="reloj" src="../assets/img/relojprueba.jpeg" alt="Imagen de prueba de un reloj">
        </div>
        <!-- <p>Este es otro parrafo dentro de la division</p> -->
    </div>
</body>
<footer>
    <p>Este es el pie de la pagina que debe contener informaciones de contacto asi como el numero, instagram, etc.</p>
</footer>
</html> 



